<a href="https://colab.research.google.com/github/jefferson5252173/ejercicios-_for/blob/main/ejercicios_for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

INTRUCCION REPETITIVA

In [ ]:
#EJERCICIO 1: MOSTRAR LOS NUMEROS DEL 1 AL 10, SIN USAR INSTRUCCIONES REPETITIVAS

print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)
print(10)

In [ ]:
#EJERCICIO 2: mostrar los numeros del 1 al 10, usando instrucciones repetitivas while

contador= 1
print(contador)
while contador <10:
  #contador = contador + 1
  contador += 1
  print(contador)

In [33]:
#EJERCICIO 3: mostrar los numeros del 1 al 10, ultilizando la instruccion for y una lista iterable

for i in [1,2,3,4,5,6,7,8,9,10]:
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#EJERCICIO 4: mostrar lols numeros del 1 al 10, usanmdo la instruccion for y la instruccion  range

for i in range(1,11):
  print(i)

In [ ]:
# EJEJRCICIO 5: mostrar una frase 10 veces, usando la instruccion for y una lista

lista = [1,2,3,4,5,6,7,8,9,10]
for i in lista:
print(f"{i}("sistemas, la mejor!!!")

In [ ]:
#EJERCICIO 6: mostrar la silaba inicial de los dias de la semana, usando for y una lista con la silaba inicial de los

dias_semana = ["lu", "ma", "mi", "ju", "vi", "sa", "do" ]
for i in dias_semana:
  print(i)

In [ ]:
#EJERCICIO 7: mostrar una lista de distintos tipos de datos, usando for

lista = [1,3,4,9, true "nestor" ,8, "guanenta"]
for i in dias_semana:
  print(i)

In [ ]:
#EJERCICIO 8: ingresar su nombre y mostrarlo letra a letra, usando for

nombre = input("digite su nombre: ")
for letra in nombre:
  print(letra)

In [ ]:
#EJERCICIO 9: ingresar su nombre y mostrarlo letra a letra, usando  for, cambiado por asterisco * a la vocal e

nombre = input("digite su nombre: ")
for letra in nombre:
  if letra == 'e':
    print("*")
  else:
      print(letra)

In [ ]:
#EJERCICIO 10: ingrasar su nombre y mostrarlo letra a letra en mayuscula, usando for

nombre = input("digite su nombre")
for letra in nombre:
  print (letra.upper())

In [ ]:
#EJERCICIO 11: imprimir listas de nukeros usando for y range

print("numeros del 0 al 9")
for i in range(10):
  print(i)

print("numeros del 1 al 10")
for i in range(1,11):
  print(i)

print("10 veces la frase")
for i in range(10):
  print("sistemas el mejor")

print("10 veces la frase i")
for i in range(10):
  print("i = " + str (i))  

print("10 veces la frase i")
for i in range(10):
  print(f" i = {i}")

print("rango del 7 al 18, incrementando de 4 en 4")
for i in range(7,19,4):
  print(i) 

print("convierte rango en lista a, y la muestra")
a = list(range(1000))
print(a)

#ejercicios
1. dada la siguiente lista de numeros, [20, 21, 30, 41, 50, 201] mostrar en pantalla solo los que NO terminan en 1
2. mostrar 1000 vecesla palabra "progrmacion"
3. del conjunto de cadenas ["E", "F", "M", "A"] que corresponde a las iniciales de los primeros cuatro mesesdel año, mostrar el nombre completo de dichos meses.
4. leer un texto y determinar cuantas veces dicho texto contine una de las vocales en minusculas y/o mayuscula

In [ ]:
#1
numeros = [20, 21, 30, 41, 50, 201]
for numero in numeros:
    if numero %10 != 1: 
        print(numero)

In [ ]:
#2
for i in range(1000):
  print("Programacion")

In [ ]:
#3
list = ["E", "F", "M", "A"]
meses_año = ["Enero","Febrero", "Marzo", "Abril"] 
E = "Enero"
F = "Febrero"
M = "Marzo"
A = "Abril"
for i in meses_año:
  print(i)

In [43]:
# 4
texto = input("Ingresa un texto: ")
vocales = {'a': 0, 'e': 0, 'i': 0, 'o': 0, 'u': 0, 'A': 0, 'E': 0, 'I': 0, 'O': 0, 'U': 0}

for letra in texto:
    if letra in vocales:
        vocales[letra] += 1

print("Vocales en el texto:")
for vocal, cantidad in vocales.items():
    print(f"{vocal}: {cantidad}")

Ingresa un texto: se
Vocales en el texto:
a: 0
e: 1
i: 0
o: 0
u: 0
A: 0
E: 0
I: 0
O: 0
U: 0